<h1>My Watchlist</h1>

<table>
  <tbody>
    <%= if length(@movies) > 0 do %>
      <%= for movie <- @movies do %>
        <%= render "movie.html", conn: @conn, movie: movie %>
      <% end %>
    <% else %>
          <h2> No movies foud in the watchlist </h2>
    <% end %>
  </tbody>
</table>

